﻿@model Test_WebApi.Models.InventoryItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Inventory Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Created by:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit","Inventory", new {id=Model.ID})" role="button" class="btn-sm btn-warning">Edit <span class="glyphicon glyphicon-pencil"></span></a> |
    <a href="@Url.Action("Index","Inventory")" role="button" class="btn btn-primary">Back to list <span class="glyphicon glyphicon-list"></span></a>
</p>
