﻿@model Test_WebApi.Models.InventoryItem
@{
    ViewBag.Title = "Inventory";
}

<div class="jumbotron">
    <h1>Inventory</h1>
    <br />
    @if (System.Web.HttpContext.Current.User != null && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <p>
            <a href="@Url.Action("Create", "Inventory")" role="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New Inventory Item</a>
        </p>
    }
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody data-bind="foreach: inventory">
            <tr>
                <td>
                    <input type="hidden" data-bind="value: ID" /><span data-bind="text: Name"></span>
                </td>
                <td><span data-bind="text: Quantity"></span></td>
                <td><span data-bind="text: Price"></span></td>
                @if (System.Web.HttpContext.Current.User != null && System.Web.HttpContext.Current.User.Identity.IsAuthenticated)
                {
                    <td class="text-right">
                        <button onclick="ViewDetails(this);" class="btn-sm btn-primary">Details <span class="glyphicon glyphicon-search"></span></button>
                        <button onclick="Edit(this);" class="btn-sm btn-warning">Edit <span class="glyphicon glyphicon-pencil"></span></button>
                        <button onclick="Delete(this);" class="btn-sm btn-danger">Delete <span class="glyphicon glyphicon-trash"></span></button>
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>
@section scripts{
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/knockout.js"></script>
    <script src="~/Scripts/CustomScripts/customInventory.js"></script>
}
