﻿@model Test_WebApi.Models.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>


    </dl>
</div>
<p>
    <a href="@Url.Action("Edit","User", new {id=Model.ID})" role="button" class="btn-sm btn-warning">Edit <span class="glyphicon glyphicon-pencil"></span></a> |
    <a href="@Url.Action("Index","User")" role="button" class="btn-sm btn-primary">Back to list <span class="glyphicon glyphicon-list"></span></a>
</p>
