﻿@model System.Collections.Generic.IEnumerable<Test_WebApi.Models.User>

@{
    ViewBag.Title = "Index";
}
<div class="jumbotron">
    <h2>Index</h2>

    <p>
        <a href="@Url.Action("Create", "User")" role="button" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span> New User</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td class="text-right">
                        <a href="@Url.Action("Details", "User", new {id = item.ID})" role="button" class="btn-sm btn-primary">Details <span class="glyphicon glyphicon-search"></span></a>
                        <a href="@Url.Action("Edit", "User", new {id = item.ID})" role="button" class="btn-sm btn-warning">Edit <span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="@Url.Action("Delete", "User", new {id = item.ID})" role="button" class="btn-sm btn-danger">Delete <span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>