﻿<title>Home</title>

<div class="jumbotron">
    <h1>Phase 1</h1>
    <p>**Users should be able to see content</p>
    <p>**Users should be able to purchase</p>
</div>


<!--Inventory?-->
@*<div class="col-md-13 col-xs-13">

    <div id="checkoutButton">
        <li><button class="btn btn-info" onclick="showCart()"><span class="glyphicon glyphicon-shopping-cart">&nbsp;</span>Check Out</button></li>
    </div>

    <br>
    <br>

    <div id="inventory">
        <h3>PlayStation 3</h3>
        <div>
            <br>
            <br>
            <br>
            <br>
            <p>
                <img id="thumnails" src="~/Images/133322114.jpg">
            </p>
            <p><b>Price:</b> $199.00</p>
            <p><b>Quantity:</b> 90</p>
            <form method="post" action="">
                <button class="btn btn-primary" type="button" onclick="addItemToCart(133322114, document.getElementById('numberPicker133322114').value, 'PlayStation 3')">Add to Shopping Cart <span class="glyphicon glyphicon-plus"></span></button>
                <input class="nmbrPicker" name="133322114" id="numberPicker133322114" type="number" min="0" step="1" size="20" />
            </form>
        </div>
        <h3>PlayStation 4</h3>
        <div>
            <br>
            <br>
            <br>
            <br>
            <p>
                <img id="thumnails" src="~/Images/132456784.jpg"></img>
            </p>
            <p><b>Price:</b> $399.00</p>
            <p><b>Quantity:</b> 90</p>
            <form method="post" action="">
                <button class="btn btn-primary" type="button" onclick="addItemToCart(132456784, document.getElementById('numberPicker132456784').value, 'PlayStation 4')" ">Add to Shopping Cart <span class="glyphicon glyphicon-plus"></span></button>
                <input class="nmbrPicker" name="132456784" id="numberPicker132456784" type="number" min="0" step="1" size="20" />
            </form>
        </div>
        <h3>Xbox 360</h3>
        <div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <p>
            <img id="thumnails" src="~/Images/876565434.jpg">
            </p>
            <p><b>Price:</b> $249.00</p>
            <p><b>Quantity:</b> 90</p>
            <form method="post" action="">
                <button class="btn btn-primary" type="button" onclick="addItemToCart(876565434, document.getElementById('numberPicker876565434').value, 'Xbox 360')">Add to Shopping Cart <span class="glyphicon glyphicon-plus"></span></button>
                <input class="nmbrPicker" name="876565434" id="numberPicker876565434" type="number" min="0" step="1" size="20" />
            </form>
        </div>
        <h3>Xbox One</h3>
        <div>
            <br>
            <br>
            <br>
            <br>
            <p>
            <img id="thumnails" src="~/Images/097656543.jpg">
            </p>
            <p><b>Price:</b> $349.00</p>
            <p><b>Quantity:</b> 90</p>
            <form method="post" action="">
                <button class="btn btn-primary" type="button" onclick="addItemToCart(097656543, document.getElementById('numberPicker097656543').value, 'XboxOne')">Add to Shopping Cart <span class="glyphicon glyphicon-plus"></span></button>
                <input class="nmbrPicker" name="097656543" id="numberPicker097656543" type="number" min="0" step="1" size="20" />
            </form>
        </div>
        <h3>Wii</h3>
        <div>
            <br>
            <br>
            <br>
            <br>
            <p>
            <img id="thumnails" src="~/Images/765454654.jpg">
            </p>
            <p><b>Price:</b>$99.00</p>
            <p><b>Quantity:</b> 90</p>
            <form method="post" action="">
                <button class="btn btn-primary" type="button" onclick="addItemToCart(765454654, document.getElementById('numberPicker765454654').value, 'Wii')">Add to Shopping Cart <span class="glyphicon glyphicon-plus"></span></button>
                <input class="nmbrPicker" name="765454654" id="numberPicker765454654" type="number" min="0" step="1" size="20" />
            </form>
        </div>
        <h3>Wii U</h3>
        <div>
            <br>
            <br>
            <br>
            <br>
            <p>
            <img id="thumnails" src="~/Images/009989876.jpg">
            </p>
            <p><b>Price:</b>$79.00</p>
            <p><b>Quantity:</b> 90</p>
            <form method="post" action="">
                <button class="btn btn-primary" type="button" onclick="addItemToCart(009989876, document.getElementById('numberPicker009989876').value, 'Wii U')">Add to Shopping Cart <span class="glyphicon glyphicon-plus"></span></button>
                <input class="nmbrPicker" name="009989876" id="numberPicker009989876" type="number" min="0" step="1" size="20" />
            </form>
        </div>
    </div>
</div>*@

